.topImage{
    background-image: url(./プレゼンテーション1.jpg);
    height: calc(100vw*19.05/30.48);
    max-height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


/* main */
main {

    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background-color: black;
}
main h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
main p{
    font-size: 2.5vh;
}
main input{
    margin-top: 6vh ;
    margin-bottom: 6vh;
}
main button{
    color: white;
    height: 30px;
}

/* Reset CSS */
.btn-contained {
    background-color: rgb(255, 72, 0);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    border-radius: 4px;
    /* 要素に標準スタイルを適用させない */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}



